
body{
    background-color: white !important;
    min-height: 200vh;
}
header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   transition: 0.6s;
   padding: 40px 100px;
   z-index: 1;

}
header.sticky{
    padding: 8px 100px;
    height: 70px;
    background: rgb(20, 20, 20) !important;
}
.nadpis
{
    position: absolute;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    bottom: 30px;
    transform: translateX(100px);
    font-size: 2em;
    letter-spacing: 3px;
    transition: 0.6s;

}
.avatar{
    position: relative;
    top: -13.5px;
    width: 90px;
    padding: 10px;
    transition: 0.6s;
}
.navbar-links {
    height: 100%;
}
.navbar-links ul{
    display: flex;

}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    position: relative;
    display: block;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    bottom: 5px;
    letter-spacing: 4px;
    transition: 0.6s;
}
.banner{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/brazil.jpg);
  background-size: 100% 100%;
  background-position-y: 80%;
  
}
header.sticky .nadpis,
header.sticky ul li a{
    color: #fff;
}
header.sticky .bar{
    background-color: #fff;
}

.toggle-button {
    position: absolute;
    display: none;
    top: 16.5px;
    right: -80px;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
}

@media (max-width: 1200px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button {
        display: flex;
        color: #000;
        z-index: 1;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        margin-left: -55%;
        transform: translateX(70px);
        bottom: 45px;
        
        
    }

    .navbar-links.active {
        display: flex;
    }
    .navbar .avatar{
        margin-left:  -85%;
    }
    .navbar .nadpis{
        margin-left: -55%;
        bottom: 70.5px;
        position: relative;
    }
}
#zeme{
    width: 100%;
    position: absolute;
    
}
#footer{
    background-color: rgb(20, 20, 20) !important;
    color: white;
    transform: translateY(-3px);
}
button{
    z-index: 1;
}
.darkmode--activated h2 {
    color: rgb(223, 219, 219);
}
.darkmode--activated p {
    color: rgb(223, 219, 219);
}
.darkmode--activated #footer{
    background-color:rgb(255, 255, 255)  !important;
    color: black;
}
.darkmode--activated header.sticky{
    background-color: rgb(255, 255, 255)  !important;
}
.darkmode--activated header.sticky .nadpis,
.darkmode--activated .sticky ul li a{
    color: black;
}
.darkmode--activated header.sticky .bar{
    background-color: black;
}
.darkmode--activated li{
    color: rgb(223, 219, 219);
}
.darkmode--activated #myBtn{
    background-color: rgb(255, 255, 255);
    color: black;
 }
 #myBtn{
     background-color: rgba(0, 0, 0, 0.801);
     color: white;
     border: rgba(0, 0, 0, 0.801);
 }
 .darkmode--activated #myBtn2{
    background-color: rgb(255, 255, 255);
    color: black;
 }
 #myBtn2{
     background-color: rgba(0, 0, 0, 0.801);
     color: white;
     border: rgba(0, 0, 0, 0.801);;
 }
 .darkmode--activated #myBtn3{
    background-color: rgb(255, 255, 255);
    color: black;
 }
 #myBtn3{
     background-color: rgba(0, 0, 0, 0.801);
     color: white;
     border: rgba(0, 0, 0, 0.801);
 }
 .darkmode--activated #myBtn4{
    background-color: rgb(255, 255, 255);
    color: black;
 }
 #myBtn4{
     background-color: rgba(0, 0, 0, 0.801);
     color: white;
     border: rgba(0, 0, 0, 0.801);
 }
 #more {display: none;
 }
 #more2 {display: none;
 }
 #more3{display: none;
 }
 #more4{display: none;
 }
 #feijoada{
     width: 100%;
 }
 #karneval{
     width: 100%;
 }
 #fotbal{
     width: 100%;
 }
 #ekonomika{
     width: 100%;
 }
 #kuchyne{
     width: 100%;
 }
 h2{
     color: rgb(9, 156, 9) !important;
 }
 ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #fff; 
    margin: 5px 5px;
  }
  ::-webkit-scrollbar-thumb {
    background:  rgb(20, 20, 20); 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background:  rgb(112, 112, 112);
  }
  .darkmode--activated::-webkit-scrollbar-track{
    background: #000; 
  }
  .darkmode--activated::-webkit-scrollbar {
    background-color: #000;
  }
  .darkmode--activated::-webkit-scrollbar-thumb:hover{
    background:  rgb(148, 147, 147); 
  }
  .darkmode--activated::-webkit-scrollbar-thumb{
    background:  rgb(223, 219, 219);
  }
  #wikipedie{
    font-size: 15px;
    color: white;
}
#wiki{
    width: 20px;
}
.darkmode--activated i{
    color: black;
}

